<html lang="de-DE">
<head>


 <title>Benachrichtigungen für 15.01.2026 drucken</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <style>
        <!-- 
        .message { page-break-after: always }
        pre { font-family: monospace }
        pre {white-space: pre-wrap;}
        pre {white-space: -moz-pre-wrap;}
        pre {white-space: -o-pre-wrap;}
        pre {word-wrap: break-work;}
        -->
    </style>
 
 <link rel="stylesheet" type="text/css" href="notices.css">
 
</head>
<body id="batch_print-notices" class="batch">

    <!-- Hier die Notices einfügen -->

</body>
</html>